@charset "utf-8";
/* CSS Document */



header {
    height: 57px;
    background-color: #dddddd;
}
header .logo {
    height:47px;
    padding-top:10px;
}
header .logo img {
    height:30px;

}
#content {
    min-height:500px;
}
footer {
    width:100%;
    height:100px;
    border-top:1px solid #ddd;
    background:#f4f4f4;
}

#record-header {
    border-bottom:1px solid #ddd;
    margin-bottom:25px;
    padding-bottom:10px;
}
.box {
    text-align:center;
    display:inline-block;
    padding:5px 10px;
/*    border-radius:7px;
    box-shadow:0px 0px 0px 1px #fff, 0px 0px 4px 0px rgba(0,0,0,1);*/
    margin-right:10px;
}
.box.box-active {
    background: #f2f9fe;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjlmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmYwZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f2f9fe 0%, #d6f0fd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd));
    background: -webkit-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%);
    background: -o-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%);
    background: -ms-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%);
    background: linear-gradient(to bottom,  #f2f9fe 0%,#d6f0fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );



}
.box .box-header {
    color: #333333;
    font-family: serif;
    font-style: italic;
}
.number-large {
    font-size: 22px !important;
    font-weight: bold !important;
    color:#06C !important;
    text-align:center !important;
}
.total-level {
    text-align:right; 
    font-weight:bold; 
    font-size:22px !important; 
    vertical-align:bottom; 
    padding-right:10px !important;
}
.patient-name {
    margin:0px;
    font-family:"Times New Roman", Times, serif;
    font-weight:bold;
    color:#09F;
    margin-bottom:15px;
}

.category-list {
    padding:20px;
    margin-top:25px;
    box-shadow:0px 0px 0px 3px rgba(204,204,204,.51);
    border-radius:5px;
    background:rgba(204,204,204,.11);
}
.category-list ul li{
    padding:5px 0px;
    color:#09C;
}
.category-list ul li.active{
    color:#fff;
    padding:5px 10px;
    border-radius:5px;
    background: #578caa;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3OGNhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNjZkYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #578caa 0%, #066dab 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#578caa), color-stop(100%,#066dab));
    background: -webkit-linear-gradient(top,  #578caa 0%,#066dab 100%);
    background: -o-linear-gradient(top,  #578caa 0%,#066dab 100%);
    background: -ms-linear-gradient(top,  #578caa 0%,#066dab 100%);
    background: linear-gradient(to bottom,  #578caa 0%,#066dab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#578caa', endColorstr='#066dab',GradientType=0 );

}
.category-list ul li:hover {
    cursor:pointer;
    color:#333;
}

.category-list h3 {
    font-size: 14px;
    font-weight: bold;
}


.cost-table {
    margin:20px auto;
}
.cost-table thead tr {
    background:#eee;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.cost-table thead tr th {
    padding:5px;
    font-family:"Times New Roman", Times, serif;
    font-weight:bold;
    color:#333;
}
.cost-table tbody tr {
    border-bottom:1px solid #eee;
}
.cost-table tr td {
    padding:5px;
}
#chart-wrap {
}
.chart {
    height:350px;
    width:750px;
    background:#eee;
}

.graph-title h3 {
    font-family:"Times New Roman", Times, serif;
    text-align:center;
    margin:15px 0px;
    font-weight:bolder;
    font-size:30px;
}

.graph-title h3 span.sub-title{
    font-size:15px;
}
.total-costs {
    padding:10px 0px;
    font-size:14px;
    border-bottom:1px solid #ddd;
}
.total-cost-level {
    font-family:"Times New Roman", Times, serif;
    color:#ccc;
    font-style:italic;
}
.cost-number {
    font-family:"Times New Roman", Times, serif;
    color:#666;
    font-size:16px;
}
.bold {
    font-weight:bold;
}
.in-level {
    padding:0px 10px;
    font-family:"Times New Roman", Times, serif;
    color:#666;
}

.department {
    margin-top:30px;
    padding:5px;
}